@page
@model RazorPortfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Here you can find my most prominent creations. 
    They show educational journey as well as my capability and potential. 
    I thought it made the most sense for me to build the website myself, 
    allowing me more control over the content I display and how I display it.
    This website itself was built using ASP.NET Razor Pages and Bootstrap.</p>
</div>

<div class="card-columns">
    <div class="row mb-2">
        <div class="col-sm-6 my-auto">
            <div class="card">
                <img src="@ProjectsData.Projects[0].ImgUrl" class="card-img-top" alt="@ProjectsData.Projects[0].ImgAlt">
                <div class="card-body">
                    <h4 class="card-title">@ProjectsData.Projects[0].Title</h4>
                    <p class="card-text">@ProjectsData.Projects[0].Body</p>
                    <a href="@ProjectsData.Projects[0].LinkUrl" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    @ProjectsData.Projects[0].Platform
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-auto">
            <div class="card">
                <img src="@ProjectsData.Projects[1].ImgUrl" class="card-img-top" alt="@ProjectsData.Projects[1].ImgAlt">
                <div class="card-body">
                    <h4 class="card-title">@ProjectsData.Projects[1].Title</h4>
                    <p class="card-text">@ProjectsData.Projects[1].Body</p>
                    <a href="@ProjectsData.Projects[1].LinkUrl" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    @ProjectsData.Projects[1].Platform
                </div>
            </div>
            <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Weather Lookup Tool</h4>
                        <partial name="_WeatherApp" />
                    </div>
                    <div class="card-footer">C#, ASP.NET, Partial View</div>
            </div>
        </div>
    </div>
</div>


